<footer>
  <p>Built with <img style="height: 1em;" src="/images/ruby.png" alt="Ruby"> using <a href="https://www.bridgetownrb.com/">Bridgetown</a> (Ruby) and hosted on <a href="https://github.com/jsrn/rubymyths.dev">GitHub</a> (Ruby on Rails) Pages.</p>
  <p>Idea conceived on <a href="https://ruby.social">Mastodon</a> (Ruby on Rails).</p>
  <p><a href="mailto:{{ metadata.email }}">{{ metadata.email }}</a></p>
  <p><small>The Ruby logo is Copyright © 2006, Yukihiro Matsumoto. It is licensed under the terms of the <a href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a> License agreement.</small></p>
</footer>
